{{#extends 'base'}}
    {{#block 'content'}}
    <h2>Found a new fault not in the list?</h2>
    <h3>Let us know below</h3>
    <div>
        <input type="text" id="new-fault">
        <button>Submit</button>

    </div>
    {{/block}}
{{/extends}}