{{#extends 'base'}}

{{#block 'content'}}
<img src="images/lift.jpeg"/>
<div id="container">
    <h2>purpose of the website</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, doloribus numquam repellendus corporis ratione ea eligendi sapiente tempore, quidem animi provident inventore tempora laborum molestiae rerum itaque velit libero reiciendis?</p>

</div>
{{/block}}
{{/extends}}