{{#extends 'base'}}
{{#block 'content'}}

<h1>Calculate BMI</h1>
<form method="POST">
    <div>
        <label>Weight:</label>
        <input class="form-control" type="text" name="weight"/>
    </div>
    <div>
        <label>Height:</label>
        <input class="form-control" type="text" name="height"/>
    </div>
    <input type="submit"/>

</form>
{{/block}}
{{/extends}}