{{#extends 'base'}}
{{#block 'content'}}
    <h1>Contact Us</h1>
    <form method="POST">
        <div>
            {{!-- important to put name for input and the submit button must be inside form --}}
            <label>Email:</label>
            <input type="text" name="email"/>
        </div>

        <div>
            <label>Name:</label>
            <input type="text" name="name"/>
        </div>

        <div>
            <label class="label">Salutations</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="salutations" value="dr"/>
                <label class="form-check-label">Dr.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="salutations" value="mdm"/>
                <label class="form-check-label">Mdm.</label>
            </div>
            <div class="form-check form-check-inline">         
                 <input class="form-check-input" type="radio" name="salutations" value="ms"/>
                <label class="form-check-label">Ms.</label>
            </div>
            <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" name="salutations" value="mr"/>
                <label class="form-check-label">Mr.</label>
            </div>
        </div>

        <div>
            <label>How to contact you</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="contactMethod" value="email"/>
                <label class="form-check-label">Email</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="contactMethod" value="sms"/>
                <label class="form-check-label">SMS</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="contactMethod" value="phone"/>
                <label class="form-check-label">Phone</label>
            </div>
        </div>

        <div>
            <label>Select your country</label>
            <select class="form-control" name="country">
                <option value="sg">Singapore</option>
                <option value="my">Malayasia</option>
                <option value="in">Indonesia</option>
            </select>

        </div>



        <input type="submit"/>
    </form>
    {{/block}}
{{/extends}}